<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div id="wrap">
        <div class="login">
            <div class="login-top">
            <label for="">用户名:</label>
            <input type="text" placeholder="请输入用户名" name="userName" class="username">
            </div>
        <div class="login-center">
            <label for="">密&nbsp&nbsp&nbsp码:</label>
            <input type="password" placeholder="请输入密码" name="password" class="password">
            </div>
            <span class="login-btn">登录</span>

            <p class="register-tips">注册一下</p>
        </div>
    
    </div>

    <script src="./js/jquery.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>